<!-- <기업통계>
바 차트
-매출 (금년도/전년도비교) (완료)
-가장 많이 팔린 상품순위 (완료)
도넛차트
-구매자 연령대/남녀성비 (완료)
라인차트
-구독자 수 -->

{% extends 'base.html' %}
{% load static %}
{% block title %} Company Chart {% endblock %}
{% block link %}{% static 'css/com_chart.css' %}{% endblock %}
{% block content %}
<script>
	$(document).ready( function() {
        $('#lastYear').click( function() {
          $('#chart-1').toggle( 'slow' );
          $('#chart-3').toggle( 'slow' );
		  var text = $('#lastYear').text();
		  if (text == '작년 매출보기'){
			$('#lastYear').text('올해 매출보기')
		  }else {
			$('#lastYear').text('작년 매출보기')
		  }
		  if ($(this).hasClass('changeColor')) {
			  $(this).removeClass('changeColor')
		  }else {
			  $(this).addClass('changeColor')
		  }
        });
        $('#other').click( function() {
          $('#chart-5').toggle( 'slow' );
          $('#chart-6').toggle( 'slow' );
		  var text = $('#other').text();
		  if (text == '연령대 분류'){
			$('#other').text('성별 분류')
		  }
		  else {
			$('#other').text('연령대 분류')
		  }
		  if ($(this).hasClass('changeColor')) {
			  $(this).removeClass('changeColor')
		  }else {
			  $(this).addClass('changeColor')
		  }
        });
      });
</script>
<div id="chart">
	<div class="chartBox">
		<!-- <span>기업 매출 현황</span> -->
		<button id="lastYear" class="chartButton">작년 매출보기</button>
		<div class="chartDetail">
			<div id="chart-1">{{ output|safe }}</div>
			<div id="chart-3"style="display: none;">{{ output2|safe }}</div>

		</div>

	</div>
	<div class="chartBox">
		<!-- <span>상품 판매 순위</span> -->
		<div class="chartDetail">
			<div id="chart-4">{{ output3|safe }}</div>
		</div>

	</div>
	<div class="chartBox">
		<!-- <span>고객 분석</span> -->
		<button id="other" class="chartButton">연령대 분류</button>
		<div class="chartDetail">
			<div id="chart-5" style="display: none;">{{ output4|safe }}</div>
			<div id="chart-6">{{ output5|safe }}</div>

		</div>

	</div>
	<div class="chartBox">
		<!-- <span>나를 응원해주는 사람들</span> -->
		<div class="chartDetail">
			<div id="chart-7">{{ output6|safe }}</div>
		</div>
	</div>
	
	

</div>
{% endblock %}