{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block link %}{% static 'css/exper_create.css' %}{% endblock %}
{% block content %}
<form method="POST" action="{% url 'exper_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="signup-title" style="color: rgb(71, 71, 71);">체험단 모집 등록</h5>
    <div class="form-back">
        <div class="btn_area">
                <div>
                    <button class="btn" style="font-size: 15px;">
                    등록
                </button>
            </div>
        </div>
        <!-- input -->
        <div class="box-box">
            <span class="box">
                <p style="font-size: 5px;">title</p>
                <input class="int" type="text" name="exper_title" placeholder="제목을 입력하세요" required><br>
            </span>
        </div>      
        <!-- input -->
        <div class="box-box">
            <span class="box">
                <p style="font-size: 5px;">활동 기간</p>
                <input class="int" type="text" name="exper_period" placeholder="YYYY-MM-DD ~ YYYY-MM-DD"required><br>
            </span>
        </div>

        <!-- profileImg -->
        <div class="box-box">
            <span class="box">
                <p style="font-size: 5px;">모집 이미지</p>
                <input class="int" type="file" name="exper_image" accept="image/*" required><br>
            </span>
        </div>      
        <!-- profileImg -->
        <div class="box-box">
            <span class="box">
                <p style="font-size: 5px;">체험단 설명</p>
                <input class="int" type="text" name="exper_body" placeholder="체험단 설명" ><br>
            </span>
        </div>
    </div>
</form>

{% endblock %} 