<!-- 주문, 배송, 통계로 나눠서 한눈에 볼 수 있게
통계 : 매출, 구매율이 높은 해시태그, 별점 -->
<!-- 
    막대 그래프 : 이번년도 매출
    선 그래프 : 최근 10년 매출 추이
    파이 그래프 : 구매율이 높은 해시태그
    가로 막대 그래프 : 별점 순위 > 가능하다면 별점 별 리뷰도 하기
    css 수정 중..
 -->
{% extends 'base.html' %}
{% load static %}
{% block title %} Main Chart {% endblock %}
{% block link %}{% static 'css/main_chart.css' %}{% endblock %}
{% block content %}
<script>
	$(document).ready( function() {
        $('#lastYear').click( function() {
          $('#chart-1').toggle( 'slow' );
          $('#chart-2').toggle( 'slow' );
		  var text = $('#lastYear').text();
		  if (text == '최근 10일간의 매출보기'){
			$('#lastYear').text('올해 매출보기')
		  }else {
			$('#lastYear').text('최근 10일간의 매출보기')
		  }
		  if ($(this).hasClass('changeColor')) {
			  $(this).removeClass('changeColor')
		  }else {
			  $(this).addClass('changeColor')
		  }
        });
      });
</script>
<div id="chart">
  <div class="orderanddeliver">
    <div class="chartBox">
      <!-- <span>주문</span> -->
      <div class="chartDetail">
        <div class="order">
          <span class="orderDetail">신규 주문</span>
          <span class="orderDetail">3 건</span>
        </div>
        <div class="bar"></div>
        <div class="order">
          <span class="orderDetail">처리 중 주문</span>
          <span class="orderDetail">23 건</span>
        </div>
        <div class="bar"></div>
        <div class="order">
          <span class="orderDetail">배송 주문</span>
          <span class="orderDetail">16 건</span>
        </div>
      </div>
    </div>
  
    <div class="chartBox">
      <!-- <span>배송</span> -->
      <div class="chartDetail">
        <div class="order">
          <span class="orderDetail">배송 처리</span>
          <span class="orderDetail">13 건</span>
        </div>
        <div class="bar"></div>
        <div class="order">
          <span class="orderDetail">배송 시작</span>
          <span class="orderDetail">20 건</span>
        </div>
        <div class="bar"></div>
        <div class="order">
          <span class="orderDetail">배송 완료</span>
          <span class="orderDetail">36 건</span>
        </div>
      </div>
        
      </div>
    </div>
  </div>

  <div class="orderanddeliver">
    <div class="chartBoxCol">
      <!-- <span>우리 기업의 매출 현황</span> -->
      <button id="lastYear" class="chartButton">최근 10일간의 매출보기</button>
      <div class="chartDetail">
        <div id="chart-1">{{ output|safe }}</div>
        <div id="chart-2"style="display: none;">{{ output2|safe }}</div>
      </div>
      <!-- <span>구매율이 높은 해시태그</span>
      <div class="chartDetail">
        <div id="chart-3">{{ output3|safe }}</div>
      </div> -->
    </div>
  
    <div class="chartBoxCol">
      <!-- <span>구독자 증가 및 방문자 수</span> -->
      <div class="chartDetail chart-4">
          <div id="chart-4">{{ output4|safe }}</div>
      </div>
    </div>

  </div>

</div>
{% endblock %}