{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block link %}{% static 'css/product_chart.css' %}{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/product_chart.js' %}"></script>
{% endblock %}

{% block content %}
<div class="chart" id="chart">
	<div class="chartBox" >
        <div id="chart-container"></div>
	</div>
    <div class="chartBox" >
        <div id="chart-container_01"></div>
    </div>
    <div class="chartBox">
        <div class="charDetail">
            <h3>{{ chartTitle|safe }}</h3>
            <div id="chart-1">{{ output|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}