*{
    margin: 0px;
}
#chart {
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50%;
}
.chartBox {
    width: 650px; height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin:20px;
}
.chartDetail {
    width: 100%; height: 360px;
}
.chartButton {
    background-color: #cedbff;
    border: #cedbff 2px solid;
    border-radius: 20px;
    width: 100px; height: 34px;
    margin-bottom: 7px;
    font-size: 12px;
}
.chartButton:hover {
    background-color: #b8cbff;
}
.chartButton:active {
    background-color: #cedbff;
}
.changeColor {
    background-color: #cedbff;
}

