*{
    margin: 0px;
}
#chart {
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50%;
}
.chartBox {
    width: 650px; height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin:20px;
}
.chartDetail {
    width: 100%; height: 360px;
}
.chartButton {
    background-color: #d2dcf8;
    border: #adc2fa 2px solid;
    border-radius: 2px;
    width: 100px; height: 34px;
    margin-bottom: 7px;
}
.chartButton:hover {
    background-color: #86a3f1;
}
.chartButton:active {
    background-color: #527cf0;
}
.changeColor {
    background-color: #7495f0;
}