#chart {
    width: 1400px; height: 1000px;
    display: flex;
    padding-top: 55%;
    flex-wrap: wrap;
}
.orderanddeliver {
    width: 1300px; height: 450px;
    display: flex;
    justify-content: space-between;
}
.orderanddeliver:last-child {
    margin-top: -100px;
}
.chartBoxCol {
    width: 800px; height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin:20px;
}
.chartBox {
    width: 800px; height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin:20px;
}
.chartDetail {
    width: 650px; height: 100%;
    background-color: white;
    margin-top: 10px;
}
.chart-4 {
    margin-top: 44px;
}
.chartButton {
    background-color: #d2dcf8;
    border: #adc2fa 2px solid;
    border-radius: 2px;
    width: 170px; height: 34px;
    margin-right: 10px;
}
.chartButton:hover {
    background-color: #86a3f1;
}
.chartButton:active {
    background-color: #527cf0;
}
.changeColor {
    background-color: #7495f0;
}
.bar {
    width: 90%; height: 2px;
    background-color: gray;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 30px;
}
.orderDetail {
    font-size: 17px;
}
.order {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 20px;
}